.ion-padding {
  padding: 16px;
}

.ion-label {
  font-size: 1rem;
}

.ion-input {
  font-size: 1rem;
}

.profile-item ion-input {
  width: 100%;
  font-size: 1rem;
}

.profile-item ion-label.view-mode {
  padding: 8px 0;
}

.application-settings {
  margin-top: 32px;
}

.application-settings-header {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
}