/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/* Light mode variables */
:root {
  --ion-color-primary: #3a2313;
  --ion-background-color: #eeece6; 
  --ion-text-color: #3a2313;
 
  
  /* Tab bar customizations */
  --ion-tab-bar-color: #947520;
  --ion-tab-bar-color-selected: #251d02;
}



/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #e7b84c; 
  }
}

/* Add custom font-weight for tab labels */
ion-tab-bar {
  font-weight: normal; /* Default weight for unselected tabs */
}

ion-tab-bar ion-tab-button[aria-selected="true"] {
  font-weight: bold; /* Font weight for the selected tab */
}