/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
    --ion-color-primary: #3880ff;
    --ion-color-secondary: #3dc2ff;
    --ion-color-light: #f4f5f8;
    --ion-color-dark: #222428;
  }