/* Product List */
.product-list .product-item {
  margin-bottom: 12px;
}

.product-thumbnail img {
  border-radius: 8px;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

/* Pickup Time Options */
.pickup-options-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radio-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.datetime-dropdowns {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.dropdown-item {
  flex: 1;
}