/* General Section Box Style */
.section-box {
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--ion-card-background);
}

/* Section Labels */
.section-label {
  font-size: 14px;
  font-weight: bold;
}

/* Summary Header */
.summary-header {
  font-weight: bold;
  font-size: 14px;
}

.summary-title {
  font-size: 18px;
  font-weight: bold;
}

/* Product List */
.product-list .product-item {
  margin-bottom: 12px;
}

.product-thumbnail img {
  border-radius: 8px;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.product-details {
  padding-left: 8px;
}

.product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1px;
}

.product-info {
  font-size: 14px;
  margin-bottom: 4px;
}

/* Total Section */
.total-item {
  padding-left: 82px;
}

.total-text {
  font-size: 16px;
  font-weight: bold;
}

/* Pickup Time Options */
.pickup-options-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.radio-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radio-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.datetime-dropdowns {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.dropdown-item {
  flex: 1;
}

/* Removed Unused Classes */
