.read {
    background-color: #f0f0f0; /* Light gray for read notifications */
}

.unread {
    background-color: #ffffff; /* White for unread notifications */
    font-weight: bold; /* Bold text for unread notifications */
    position: relative; /* Position relative for the blue dot */
}

.blue-dot {
    width: 10px;
    height: 10px;
    background-color: var(--ion-color-primary);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 10px; /* Move the dot to the right side */
    transform: translateY(-50%);
}