.datetime-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slots-container {
  margin: 20px;
}

.guest-input-container {
  margin: 16px; /* Consistent margin */
  padding: 16px;
  border-radius: 8px; /* Rounded corners */
  background-color: #1c1c1e; /* Match dark theme background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for contrast */
  color: #ffffff; /* Ensure text is white */
}

.confirm-button-container {
  margin: 20px;
  text-align: center;
}

.slots-container h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.slots-container p {
  font-size: 1rem;
  color: #888;
}