.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-controls span {
  font-size: 1.2rem;
  font-weight: bold;
}

.ion-item {
  margin-bottom: 1rem;
}

.ion-textarea {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 10px;
}

.product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  max-width: 600px; /* Set a maximum width for the container */
  margin-left: auto;
  margin-right: auto;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.product-details-container {
  text-align: center;
  margin: 16px 0;
}

.product-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-description {
  font-size: 1rem;
}